*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

ul {
  list-style: none;
}

svg {
  display: block;
}

body {
  background-color: var(--theme-bg);
  color: var(--theme-text);
  font-family: "Lato", sans-serif;
}

button {
  cursor: pointer;
}
