@use "mixins" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

ul {
  list-style: none;
}

svg {
  display: block;
}

body {
  -webkit-tap-highlight-color: transparent;
  background-color: var(--theme-bg-main);
  color: var(--theme-text-main);
  font-family: "Lato", sans-serif;

  @include touch-supported {
    // Fix dnd list collapse on touch devices.
    // Must be paired with a scrollable tasks container.
    overflow: hidden;
  }
}

button {
  cursor: pointer;
}
