$color-white: #fff;
$color-black: #000;

html[data-theme="light"] {
  --theme-bg-main: #80929e;
  --theme-bg-input: #{$color-white};

  --theme-text-main: #{$color-black};
  --theme-text-input: #{$color-black};
  --theme-text-header: #{$color-white};
}

html[data-theme="dark"] {
  --theme-bg-main: #1a1b1e;
  --theme-bg-input: rgba(255, 255, 255, 0.15);

  --theme-text-main: #{$color-white};
  --theme-text-input: #{$color-white};
  --theme-text-header: #d7ffff;
}
