$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

html[data-theme="light"] {
  --theme-bg: rgb(128, 146, 158);
  --theme-text: #{$color-black};
  --theme-input-bg: #{$color-white};
  --theme-input-text: #{$color-black};
  --theme-header: #{$color-white};
}

html[data-theme="dark"] {
  --theme-bg: rgb(26, 27, 30);
  --theme-text: #{$color-white};
  --theme-input-bg: rgba(255, 255, 255, 0.15);
  --theme-input-text: #{$color-white};
  --theme-header: rgb(215, 255, 255);
}
