.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  z-index: 1000;
}

.modal {
  background-color: var(--theme-bg);
  color: var(--theme-text);
  max-width: 800px;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  padding-bottom: 20px;
  animation: modal-open 0.7s ease-out;

  &-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  }

  &-title {
    flex: 1;
    color: rgba(214, 38, 38, 0.7);
    letter-spacing: 0.5px;
    font-size: 26px;
    padding: 14px 20px;
    word-wrap: break-word;
    min-width: 0;
  }

  &-close-btn {
    width: 60px;
    aspect-ratio: 1 / 1;
    line-height: 0;
    background-color: transparent;
    color: var(--theme-text);
    margin-left: auto;

    & svg {
      width: 25px;
      height: 25px;
      transition: transform 0.2s;
    }

    &:hover svg {
      transform: rotate(90deg);
    }
  }

  &-content {
    padding: 20px 20px 0;
    overflow: auto;
  }

  &-message {
    font-size: 18px;
    line-height: 24px;
  }
}

@keyframes modal-open {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
