.form {
  position: relative;
  margin-bottom: 30px;
}

.inputBackdrop {
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
  }

  &:focus-within::before {
    opacity: 1;
  }
}

.input {
  position: relative;
  width: 100%;
  height: 69px;
  border-radius: 50px;
  padding: 0 75px 0 28px;
  font-size: 22px;
  background-color: var(--theme-input-bg);
  color: var(--theme-input-text);
  border: 2px solid transparent;
  transition: border 0.2s;
  z-index: 1;

  &:focus {
    border: 2px solid #4484a8;
  }

  &::placeholder {
    color: var(--theme-input-text);
    opacity: 0.7;
  }
}

.submitButton {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
  font-size: 28px;
  background-color: #80929e;
  transition: all 0.2s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  z-index: 2;

  &:hover {
    color: #fff;
    background-color: #80a8c0;
  }

  &:active {
    transform: scale(0.8);
    box-shadow: none;
  }
}

@media (max-width: 991.98px) {
  .input {
    height: 55px;
    font-size: 18px;
    padding: 0 60px 0 20px;
  }

  .submitButton {
    padding: 8px;
    margin: 8px;
    font-size: 22px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  }
}

@media (max-width: 767.98px) {
  .form {
    margin-bottom: 20px;
  }
}

@media (max-width: 479.98px) {
  .input {
    font-size: 16px;
  }
}
