.header {
  width: 95%;
  min-height: 110px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  column-gap: 15px;
  padding: 15px 0 20px;
}

.title {
  grid-column: 2;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  color: var(--theme-header);
  position: relative;
  z-index: 1;
}

.themeButton {
  grid-column: 3;
  justify-self: end;
  color: #fff;
  background-color: transparent;
  font-size: 30px;
  padding: 10px;
  line-height: 0;
  border-radius: 10px;
  transition: background-color, 0.2s;

  &:hover {
    background-color: rgba(175, 202, 224, 0.5);
  }
}

@media (max-width: 991.98px) {
  .title {
    font-size: 36px;
  }

  .themeButton {
    font-size: 25px;
  }
}

@media (max-width: 767.98px) {
  .header {
    min-height: 90px;
  }

  .title {
    font-size: 32px;
  }
}
