@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

button {
  cursor: pointer;
}

ul li {
  list-style: none;
}

// Theme color variables
:root {
  --light-bg: rgb(128, 146, 158);
  --light-text: rgb(0, 0, 0);
  --light-input-bg: rgb(255, 255, 255);
  --light-header: rgb(252, 252, 252);
  --dark-bg: rgb(26, 27, 30);
  --dark-text: rgb(255, 255, 255);
  --dark-input-bg: rgba(255, 255, 255, 0.15);
  --dark-header: rgb(215, 255, 255);
}

// Light theme variables
html[data-theme="light"] {
  --theme-bg: var(--light-bg);
  --theme-text: var(--light-text);
  --theme-input-bg: var(--light-input-bg);
  --theme-input-text: var(--light-text);
  --theme-header: var(--light-header);
}

// Dark theme variables
html[data-theme="dark"] {
  --theme-bg: var(--dark-bg);
  --theme-text: var(--dark-text);
  --theme-input-bg: var(--dark-input-bg);
  --theme-input-text: var(--dark-text);
  --theme-header: var(--dark-header);
}

body {
  // background-color: #80929e;
  background-color: var(--theme-bg);
  color: var(--theme-text);
  font-family: "Lato", sans-serif;
}
