.taskList {
  display: flex;
  flex-direction: column;
  width: 48.5%;
  padding: 15px;
  border-radius: 10px;
}

.active {
  background-color: rgba(2, 93, 146, 0.6);
}

.completed {
  background-color: rgba(18, 153, 58, 0.6);
}

.title {
  font-size: 28px;
  text-align: center;
  color: var(--theme-header);
  margin-bottom: 20px;
}

.noTasks {
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 18px;
  text-align: center;
}

@media (max-width: 991.98px) {
  .title {
    font-size: 24px;
  }

  .noTasks {
    font-size: 14px;
  }
}

@media (max-width: 767.98px) {
  .taskList {
    width: 100%;
  }
}

@media (max-width: 479.98px) {
  .taskList {
    padding: 15px 10px;
  }
}
